$grey-nav: #2c3238;
$grey-form: rgb(47, 60, 68);
$grey-search: rgb(99, 113, 122);
$blue-form: #1096b8;
$blue-font: #0096bc;
$grey-font: #7f8c8c;
$grey-credit: #2c3e50;
$black-credit: #3f464b;
$grey-button: #7f7f7f;